/* About.css */

.section-wrapper {
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: 75px;
  flex-direction: column;
  padding: 80px;
}

@media (max-width: 991px) {
  .section-wrapper {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.content-container {
  padding-left: 60px;
  display: flex;
  width: 100%;
  max-width: 1780px;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .content-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.flex-container {
  margin: 0 48px;
}

@media (max-width: 991px) {
  .flex-container {
    max-width: 100%;
    margin-right: 10px;
  }
}

.two-column-layout {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .two-column-layout {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
}

@media (max-width: 991px) {
  .left-column {
    width: 100%;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .right-column {
    width: 100%;
  }
}

.about-content {
  display: flex;
  flex-grow: 1;
  margin-left: 70px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .about-content {
    max-width: 100%;
    margin-top: 40px;
  }
}

.section-title {
  color: #0d3a90;
  font: 30px Rubik, sans-serif;
  margin-bottom: 0px;
}

.divider {
  aspect-ratio: 60;
  object-fit: auto;
  object-position: center;
  width: 130px;
  stroke-width: 5px;
  stroke: rgba(118, 199, 206, 0.5);
  max-width: 100%;
}

.sub-title {
  color: #000;
  margin-top: 20px;
  font: 25px Rubik, sans-serif;
}

@media (max-width: 991px) {
  .sub-title {
    max-width: 100%;
  }
}

.main-title {
  color: #043caa;
  font: 500 75px Rubik, sans-serif;
}

@media (max-width: 991px) {
  .main-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.description {
  color: #575454;
  text-align: justify;
  margin-top: 39px;
  max-width: 90%;
  font: italic 200 18px Rubik, sans-serif;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.about-image {
  object-fit: auto;
  object-position: center;
  width: 90%;
  max-width: 80%;
  margin-left: 30px;
}

@media (max-width: 991px) {
  .about-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

.illustration-image {
  width: 90%;
  max-width: 796px;
  margin-left: 26px;
  margin-top: -180px;
  background-color: transparent;
}

@media (max-width: 991px) {
  .illustration-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

.acknowledgements {
  color: #575454;
  width: 80%;
  font: italic 200 18px Rubik, sans-serif;
  margin: 39px auto;
}

@media (max-width: 991px) {
  .acknowledgements {
    max-width: 100%;
  }
}

.footer-wrapper {
  justify-content: center;
  align-items: start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-color: #04276a;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px 60px 17px;
}

@media (max-width: 991px) {
  .footer-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

.footer-content {
  display: flex;
  margin-left: 114px;
  width: 978px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
}

.footer-logo {
  aspect-ratio: 3.7;
  object-fit: auto;
  object-position: center;
  width: 206px;
  max-width: 100%;
}

.social-icons {
  justify-content: center;
  display: flex;
  margin-top: 21px;
  gap: 8px;
}

.social-icon {
  aspect-ratio: 1.08;
  object-fit: auto;
  object-position: center;
  width: 56px;
}

.disclaimer {
  color: #ccc;
  align-self: stretch;
  margin-top: 38px;
  font: 400 18px Rubik, sans-serif;
}

@media (max-width: 991px) {
  .disclaimer {
    max-width: 100%;
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  background-color: #f1f1f3;
}

.app-container {
  position: relative; /* Establish a stacking context */
  width: auto;
  height: auto;
}

.styled-background {
  position: absolute; 
  top: 0; 
  right: 0; 
  background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/edd13ab24828baf3f98ccfa3c20227a156a3a382d266c2869478fa87940be426?apiKey=d22a939618da4e96809232126d1f951c');
  background-size: cover;
  background-position: center;
  width: auto; 
  height: 1150px;
  z-index: 2;
}
