.no-underline {
  text-decoration: none;
}

.no-underline:hover,
.no-underline:active,
.no-underline:focus {
  text-decoration: none;
  color: inherit;
}
  
.background-image {
  position: fixed; 
  top: 0;
  right: 0; 
  width: 50vw; 
  height: 100vh;
  object-fit: cover;
  background-size: cover; 
  background-position: left;
  z-index: 0;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 21vh 25vw;
  background-color: #f1f1f3;
}
  
  @media (max-width: 991px) {
    .main-content {
      flex-direction: column;
      padding: 0 20px;
    }
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150%;
    padding-right: 30%;
  }
  
  @media (max-width: 991px) {
    .hero-section {
      width: 100%;
      margin-top: 40px;
    }
  }
  
  .hero-title {
    color: #333;
    margin-left: 100px;
    margin-right: 100px;
    font: 60px Rubik, sans-serif;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    .hero-title {
      font-size: 40px;
    }
  }
  
  .hero-description {
    color: #786d6d;
    margin-top: 20px;
    margin-left: 100px;
    font: 18px Rubik, sans-serif;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    .hero-description {
      margin-top: 40px;
    }
  }
  
  .search-section {
    display: flex;
    width: 120%;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
  }
  
  @media (max-width: 991px) {
    .search-section {
      margin-top: 40px;
    }
  }
  
  .search-form {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  
  @media (max-width: 991px) {
    .search-form {
      margin-top: 40px;
      flex-wrap: wrap;
    }
  }
  
  .search-input {
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    width: 82%;
    height: 75px;
    border: none;
    padding: 0 20px;
    font-size: 19px;
    font-family: Rubik, sans-serif;
    color: #545252;
  }
  
  .search-input::placeholder {
    color: #A5A5A5;
  }
  
  .search-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    object-fit: contain;
    background-color: #ffffff;
    background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/11cf22dc84005320270c29d337aad99dab33d84b7fffd35fd519a4f7eb7a8ca4?apiKey=d22a939618da4e96809232126d1f951c&');
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 7%;
    height: 75px;
    cursor: pointer;
}


  .cure-list {
    margin-top: 20px;
    margin-left: 90px;
    width: 108.5%;
    z-index: 1;
  }
  
  .cure-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    
    border-radius: 10px;
    background-color: #fff;
  }

  .background_box
  {
    color: #535353;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    margin-left: 130px;
    
    z-index: 1;
  }
  
  .toggle_box
  {
    width: 50px;
    height: 25px;
    display: block;
    background-color: #D9D9D9;
    margin-left: 10px;
    border-radius: 1000px;
    cursor: pointer;
    position: relative;
    border: 2px solid #535353;
  }

input[type="checkbox"]{
   display:none; 
}
  .circle
  {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #777777;
    border-radius: 1000px;
    margin-left: 2px;
    margin-top: 1.8px;
    transition: 0.3s;
    left: 0;
  }
  .advanced-search-container {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106.8%; /* Adjust width if needed */
    height: 75px; /* Initial height */
    z-index: 1;
}

.advanced-search-container.active {
    opacity: 1;
    visibility: visible;
    width: 106.8%; /* Adjust width if needed */
    height: 500px; /* Expanded height */
    margin-top: 10px;
    z-index: 1;
}

  